{% extends 'base.html' %}

{% block content %} 
<h1 class="mt-5">Minha agenda</h1>

  <br><br>
  <form method="get" action="{% url 'search' %}">
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control"
              type="search" value="{{ request.GET.term }}"
              id="search-input"
              value="{{ request.GET.term }}"
              placeholder="Digite sua pesquisa"
              name="term">
          {% include 'partials/_messages.html' %}
      </div>
    </div>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      {% if empty_list %}
      <tr >
        <td style="display: flex; width: 100%; height:50px;  font-weight: bold;">
          Lista vazia.
        </td>
      </tr>
      
      {% endif %}
      {% for contact in contacts %}
        {% if contact.is_show %}      
          <tr>
            <td>
              {{ contact.id }}
            </td>
            <td>
              <a href="{% url 'show_contact' contact.id %}"> {{ contact.name }}</a>
            </td>
            {% if not contact.last_name %}      
              <td style="color:lightgray;">None</td>
            {% else %}      
              <td>{{ contact.last_name  }}</td>
            {% endif %}
            <td>{{ contact.phone }}</td>
            <td>{{ contact.category }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% for page in contacts.paginator.page_range %}
        {% if contacts.number == page %}
          <li class="page-item active">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>  
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{%endblock%}
